alembic==1.15.2
bcrypt==4.3.0
cryptography==44.0.2
dishka==1.5.2
Faker==37.1.0
fastapi==0.115.12
httpx==0.28.1
psycopg[binary]==3.2.4
pytest==8.3.5
pytest-asyncio==0.26.0
redis==5.2.1
ruff==0.11.4
SQLAlchemy==2.0.40
uvicorn==0.34.0
